################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServerStart/obj/Debug
/ServerStart/bin/Debug
/HttpServer/obj/Debug
/HttpServer/bin/Debug
/.vs/HttpServer/v14
